/* @font-face{
    font-family: "Lato";
    src: url("../fonts/Lato-Black.ttf");
    font-style: normal; 
    font-weight: 900; 
}

@font-face{
    font-family: "Lato";
    src: url("../fonts/Lato-Bold.ttf");
    font-style: normal; 
    font-weight: 700; 
} */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
html {
    font-family: 'Lato', sans-serif;
}

* {
    margin: 0;
}
.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: flex;
    max-width: 1600px;
    height: 75px;
    background-color: #222222;
    align-items: center;
    justify-content: space-between;
    padding-left: 231px;
    padding-right: 240px;
}

.left-logo {
    display: flex;
    align-items: center;
    gap: 41px;
}

.right-logo {
    display: flex;
    gap: 25px;
}

.top {
    display: flex;
    max-width: 1600px;
    margin: 0 auto;
}

.top-title {
    display: flex;
    align-items: center;
    gap: 16px;

}

.top-text {
    display: flex;
    flex-direction: column;

}

.top-text-h1 {
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-weight: 900;
}

.top-text-h3 {
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-weight: 700;
}

.pink {
    color: #F16D7F;
    font-family: Lato;
    font-size: 32px;
    font-weight: 700;
}

.content{
    margin-top: 65px; 
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 260px 180px;
    gap: 30px;
    max-width: 1140px;
}

.content_item4 {
    grid-column: span 3;
}

.content_img {
    position: absolute;
    filter: brightness(50%);
}

.content_item_text {
    position: relative;
}

.content_item_text {
    position: relative;
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
}

.content_item_pink_text {
    position: relative;
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1140px;
    margin-top: 96px;
    margin-bottom: 48px;
    margin-right: auto;
    margin-left: auto;
    gap: 6px;
}

.text_h3 {
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-weight: 400;
}

.text_p {
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
}

.content-cards {
    display: flex;
    flex-direction: column;
    justify-content:start;
    background-color: #F8F8F8;
    align-items: center;
}

.cards {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 30px;
}

.card_text {
    display: flex;
    flex-direction: column;
    padding: 24px 16px;
    gap: 16px;
    width: 328px;
}

.cards_h3 {
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
}

.cards_p {
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
}

.card_pink_p {
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
}

.button_box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    margin-bottom: 60px;
}

.button_text {
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    border:  #FF6A6A solid 1px;
    width: 212px;
    height: 48px;
    background-color: #fff;
}

.card:active {
    filter: brightness(50%);
}

@media (min-width: 768px) and (max-width:1439px) {

    .center {
        max-width: 100%;
    }

    .header {
        max-width: 100%;
        padding-left: 24px;
        padding-right: 18px;
    }

    .top {
        max-width: 100%;
        display: flex;
        gap: 39px;
        justify-content: space-around;
    }

    .top-text-h1 {
        font-size: 44px;
    }
    
    .top-text-h3, .pink {
        font-size: 24px;
    }

    .content {
        padding-left: 16px;
        padding-right: 16px;
        grid-template-columns: repeat(3, 231px);
        grid-template-rows: 167px 116px;
        gap: 20px;
    }

    .text {
        margin-top: 110px;
        gap: 3.3px;
        margin-bottom: 73px;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        justify-items: center;
    }

    .button_box {
        margin-top: 32px;
        margin-bottom: 70px;
    }
}

@media screen and (max-width:767px) {
    .center {
        margin-left: 16px;
        margin-right: 16px;
    }
    
    .header {
        max-width: 767px;
        height: 74px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .right-logo-human {
        display: none;
    }

    .right-logo-basket {
        display: none;
    }

    .main-foto {
        display: none;
    }

    .top {
        display: flex;
        max-width: 100%;
        justify-content: center;
    }

    .top-title {
        gap: 15px;
    }

    .top-text {
        padding-bottom: 149px;
        padding-top: 148px;
    }

    .top-text-h1 {
        font-size: 38px;
    }
    
    .top-text-h3, .pink {
        font-size: 20px;
    }

    .content {
        margin-top: 64px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 247px 249px 248px 111px;
        gap: 32px;
        max-width: 100%;
    }

    .content_item4 {
        grid-column: 1;
    }
    
    .content-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text {
        margin-top: 64px;
        gap: 3.3px;
        margin-bottom: 64.7px;
    }

    .cards {
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: 1fr;
        gap: 16px;
    }

    .center_v2 {
        margin-left: 8px;
        margin-right: 8px;
    }

    .card_text {
        width: 313px;
    }

    .button_box {
        margin-top: 40px;
        margin-bottom: 85px;
    }
}