@font-face {
    font-family: 'Gilroy-Bold';
    src: url(../fonts/gilroy-bold.ttf);
}
@font-face {
    font-family: 'Gilroy-Bold';
    src: url(../fonts/gilroy-medium.ttf);
}
@font-face {
    font-family: 'Gilroy-Bold';
    src: url(../fonts/gilroy-regular.ttf);
}
@font-face {
    font-family: 'Gilroy-Bold';
    src: url(../fonts/gilroy-semibold.ttf);
}
body {
    margin: 0;
}
html {
    font-family: 'Gilroy-Bold';
}
.header {
    width: 1289px;
    height: 114px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 14px auto;
}
.logo_header {
    height: 40px;
    display: flex;
    gap: 14px;
    align-items: center
}
a {
    text-decoration: none;
    color: #000;
    font-family: 'Gilroy-Medium';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.header_menu {
    width: 533px;
    height: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top_content {
    width: 1289px;
    margin: 149px auto 15px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.top_title {
    width: 522px;
    height: 222px;
    color: #000;
    font-family: 'Gilroy-Bold';
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.top_text {
    width: 466px;
    height: 48px;
    color: #888;
    font-family: 'Gilroy-Medium';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
p {
    margin: 0;
}
.top_button_wrapper {
    display: flex;
    align-items: center;
    gap: 72px;
}
.top_button_start {
    margin: 37px 0 auto 2px;
    padding: 15px 36px 16px 35px;
    border-radius: 50px;
    background-color: #F25822;
    color: #FFF;
    font-family: 'Gilroy-Bold';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.top_button_watch {
    margin: 52px auto auto 0px;
    color: #AAA;
    font-family: 'Gilroy-Bold';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    background: white;
}
.footer {
    width: 1920px;
    height: 243px;
}
.footer_images {
    margin: 38px auto 47px;
    width: 1289px;
    height: 158px;
    display: flex;
    align-items: center;
}
.image {
    display: flex;
    gap: 50px;
    justify-content: space-between;
}
.features {
    width: 1203px;
    height: 226px;
    margin: 140px auto;
    display: flex;
    justify-content: space-between;
}
.features_title {
    margin: 25px auto 0;
    height: 30px;
    color: #000;
    font-family: 'Gilroy-Bold';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.features_text {
    width: 310px;
    height: 42px;
    margin: 17px auto 0;
    color: #666;
    font-family: 'Gilroy-Regular';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 22.5px */
}
.features_button {
    border: none;
    padding: 0;
    height: 17px;
    margin: 25px auto 0;
    color: #000;
    font-family: 'Gilroy-Bold';
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 16.5px */
    background: white;
}